.custom-menu-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2.5px 2.5px 5px 5px;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #315681;
    -fx-border-radius: 2.5px 2.5px 5px 5px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 1.0em;
    -fx-font-weight: 400;
    -fx-text-fill: #333;
    -fx-line-height: 1.5;
    -fx-padding: 0.8em 1.5em;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: -fx-scale-x 0.2s ease-in-out, -fx-scale-y 0.2s ease-in-out,
                    -fx-background-radius 0.2 ease-out, -fx-border-width 0.2 ease-out, -fx-border-color 0.2s ease-out;
}

.custom-menu-button:hover {
    -fx-translate-y: -1px;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-background-radius: 5px 5px 0px 0px;
    -fx-border-width: 0px 0px 2.5px 0px;
    -fx-border-color: #6386b1;
    -fx-border-radius: 5px 5px 0px 0px;

    -fx-text-fill: #6386b1;
}

.custom-menu-button:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-border-width: 0px 0px 1.5px 0px;
    -fx-border-color: #315681;
}