.custom-text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 2.5px 2.5px 5px 5px;
    -fx-border-color: #315681;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-radius: 2.5px 2.5px 5px 5px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 1.0em;
    -fx-font-weight: 400;
    -fx-prompt-text-fill: #666;
    -fx-text-fill: #666;
    -fx-line-height: 1.5;
    -fx-padding: 0.8em 1.5em;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 4, 0, 0, 1);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-transition: -fx-scale-x 0.2s ease-in-out, -fx-scale-y 0.2s ease-in-out, -fx-effect 0.2s ease-out,
                    -fx-border-width 0.2 ease-out, -fx-border-radious 0.2 ease-out, -fx-border-color 0.2s ease-out,
                    -fx-text-fill 0.2 ease-out;
}

.custom-text-field:focused {
    -fx-text-fill: #333;
    -fx-border-width: 0px 0px 2.5px 0px;
    -fx-border-radius: 2.5px 2.5px 2.5px 2.5px;
    -fx-border-color: #6386b1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 1);
    -fx-translate-y: -1px;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
}

.custom-text-field:hover {
    -fx-translate-y: -1px;
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-border-width: 0px 0px 2.5px 0px;
    -fx-border-radius: 2.5px 2.5px 2.5px 2.5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0, 0, 1);
}