
.font-headline1 {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
        font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 2em;
        font-size: 2em;
    -fx-font-weight: 800;
        font-weight: 800;
    -fx-text-fill: #222;
    -fx-line-height: 1.5;
        line-height: 1.5;
}

.font-headline2 {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
        font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 1.6em;
        font-size: 1.6em;
    -fx-font-weight: 700;
        font-weight: 700;
    -fx-text-fill: #222;
    -fx-line-height: 1.5;
        line-height: 1.5;
}

.font-headline3 {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
        font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 1.3em;
        font-size: 1.3em;
    -fx-font-weight: 600;
        font-weight: 600;
    -fx-text-fill: #222;
    -fx-line-height: 1.5;
        line-height: 1.5;
}

.font-subtext {
    -fx-font-family: "Segoe UI Semibold", sans-serif;
        font-family: "Segoe UI Semibold", sans-serif;
    -fx-font-size: 1.0em;
        font-size: 1.0em;
    -fx-font-weight: 600;
        font-weight: 600;
    -fx-text-fill: #333;
    -fx-line-height: 1.5;
        line-height: 1.5;
}

.font-normaltext {
    -fx-font-family: "Segoe UI", sans-serif;
        font-family: "Segoe UI", sans-serif;
    -fx-font-size: 1.0em;
        font-size: 1.0em;
    -fx-font-weight: 400;
        font-weight: 400;
    -fx-text-fill: #333;
    -fx-line-height: 1.5;
        line-height: 1.5;
}